html{
    text-align: center;
    color:#1e1e1e;
    font-family:"Avenir New";
    align-items: center;
}

a{
    color:#1e1e1e;
}

iframe{
    width:100%;
}

.logo{
    width: 100%;
}